<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<header>
    <div id="logo">
        <img src="images/logo.png" alt="logo" />
    </div>
</header>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Accueil</a></li>
                <li><a href="#about">Interviews</a></li>
                <li><a href="#contact">Émissions</a></li>
                <li><a href="#contact">Conférences</a></li>
                <li><a href="#contact">Coaching</a></li>
                <li><a href="#contact">Qui sommes-nous</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="question col-xs-8">
            <div class="starter-template">
                <h1>Posez votre question</h1>
                <p class="lead">Un expert qualifié y répondra dans les plus courts délais !</p>
            </div>
            <div class="avatar col-xs-2">
                <img src="images/avatar.png" alt="avatar" />
            </div>
            <div class="message col-xs-10">
                <textarea>Votre message...</textarea>
                <span>Cette question sera visible uniquement par vous</span><br><br>
                <button class="boutonQuestion" type="button">Je valide ma question</button>
            </div>
        </div>
        <div class="utilisateur col-xs-4">
            <div class="avatar col-xs-4">
                <img src="images/avatar.png" alt="avatar" />
            </div>
            <div class="nom col-xs-7">
                <p>Bernard Dupont</p>
                <span><a href="#">Déconnexion</a></span>
            </div>
            <div class="menuProfil col-xs-10">
                <br>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Mon compte</a></li>
                    <li><a href="#">Mes questions</a></li>
                    <li><a href="#">Nouvelle question</a></li>
                </ul>
            </div>
        </div>

        <div class="reponse col-xs-8">
            <div class="starter-template">
                <h1>Réponse de notre expert</h1>
            </div>
            <div class="avatar col-xs-2">
                <img src="images/avatar.png" alt="avatar" />
            </div>
            <div class="message col-xs-10">
                <div>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor est vitae sem iaculis suscipit.
                        Ut tincidunt laoreet consequat. Phasellus nec justo pellentesque sapien efficitur luctus sodales id eros. Curabitur at consequat ipsum.
                        Nulla facilisi. Cras tempor tristique urna, in dignissim dui vehicula eu. Integer ligula urna, posuere vel dapibus sed, mattis sit amet turpis. Morbi massa lectus,
                        consectetur quis augue a, pulvinar lobortis massa. Sed in est volutpat, viverra nibh quis, bibendum tellus.
                        Nullam nec nunc sed risus scelerisque maximus volutpat eu dui.
                     </p>
                </div>
                    <button class="boutonDetails" type="button">Je souhaite plus de détails</button>
                    <button class="boutonReponse" type="button">Cette réponse me convient</button>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>